<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find User</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<div class="container">
    <form action="/find" method="post" class="modal">
        <input type="text" name="name" placeholder="name">
        <input type="radio" name="option" value="name" checked>
        <input type="email" name="email" placeholder="email">
        <input type="radio" name="option" value="email">
        <input type="submit">
    </form>

</div>
</body>
</html>